html , body , .wrapper{
  width: 100%;
  height: 100%;
}

.main-game-center{
  background-image: url("icon/game-center.png");
  height: 100%;
  width: 100%;
  position: relative;
}

.top-slot{
  position: absolute;
  top: 450px;
  left: 100px;
  transition: 0.5s;
}

.top-slot:hover{
  transform: scale(1.2, 1.2);
  transition-duration: 0.5s;
}

.slot-content{
  background-color: white;
  height: 400px;
  width: 300px;
  position: absolute;
  top: 200px;
  left: 500px;
  padding-top: 50px;
  z-index: 999;
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.8);
}

.top-haetataki{
  position: absolute;
  top: 200px;
  left: 250px;
  transition: 0.5s;
}

.top-haetataki:hover{
  transform: scale(1.2, 1.2);
  transition-duration: 0.5s;
}

.haetataki-content{
  background-color: white;
  height: 600px;
  width: 850px;
  position: absolute;
  top: 70px;
  left: 300px;
  padding-top: 50px;
  z-index: 999;
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.8);
}

.top-coin{
  position: absolute;
  top: 550px;
  left: 450px;
  transition: 0.5s;
}

.top-coin:hover{
  transform: scale(1.2, 1.2);
  transition-duration: 0.5s;
}

.coin-content{
  background-image: url("http://www.otwo.jp/blog/demo/coin/bg.png");
  height: 600px;
  width: 850px;
  position: absolute;
  top: 70px;
  left: 300px;
  padding-top: 50px;
  z-index: 999;
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.8);
}

.top-block{
  position: absolute;
  top: 250px;
  left: 600px;
  transition: 0.5s;
}

.top-block:hover{
  transform: scale(1.2, 1.2);
  transition-duration: 0.5s;
}

.block-content{
  background-color: white;
  height: 550px;
  width: 600px;
  position: absolute;
  top: 70px;
  left: 350px;
  padding-top: 50px;
  z-index: 998;
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.8);
}


.top-bingo{
  position: absolute;
  top: 450px;
  left: 850px;
  transition: 0.5s;
}

.top-bingo:hover{
  transform: scale(1.2, 1.2);
  transition-duration: 0.5s;
}

.bingo-content{
  background-color: white;
  height: 705px;
  width: 600px;
  position: absolute;
  top: 30px;
  left: 350px;
  padding-top: 50px;
  z-index: 998;
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.8);
}

.main-slot-content-display-none *{
  display:none;
}

.main-haetataki-content-display-none *{
  display:none;
}

.main-coin-content-display-none *{
  display:none;
}

.main-block-content-display-none *{
  display:none;
}

.main-bingo-content-display-none *{
  display:none;
}

.slotBtn{
  margin: 80px 0 0 110px;
}

.haetatakiBtn{
  margin: 45px 0 0 370px;
}

.coinBtn{
  margin: 200px 0 0 370px;
}

.blockBtn{
  margin: 50px 0 0 260px;
}


.blockStartBtn{
  margin: 20px 0 0 260px;
  background-color:skyblue;
  color:white;
  width: 80px;
  border-radius: 5px;
}

.bingoBtn{
  margin: 0 0 0 260px;
}

.finishBtn{
  background-color: tomato;
  color:white;
  width: 80px;
  border-radius: 5px;
}