#stage {
  margin: 30px auto 0;
  width: 500px;
  height: 400px;
  background: url(house.jpg) no-repeat ;
  background-size: contain;
  position: relative;
  overflow: hidden;
}
#text {
  margin:10px auto;
  width: 500px;
}
#count,#score {
  margin-left: 15px;
  font-size:18px;
  line-height:1;
  text-align:center;
  font-family: 'Oswald', sans-serif;
  float: right;
}
#count span,#score span {
  font-size:28px;
}
.mushi {
  width: 30px;
  height: 30px;
  background: url(hae1.png) top no-repeat;
  border: none;
  cursor: pointer;
  position: absolute;
  left: 500px;
  top: 400px;
  opacity: 0;
}
#start {
  margin: -30px 0 0 -110px;
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;

}
#start:hover {
  opacity: 0.8;
}

.IMG{
  width: 200px;
  margin-left: 20px;
}